<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hey there</title>
</head>
<body>
    <form method='POST' action="/upload">
        <input type="file" name="file">
        <input type="submit" value="Submit">
    </form><br />

    <form method='POST' action="/insert">
        Name: <input type="text" name="name">
        <input type="submit" value="Submit">
    </form>
    <br />
    <table>
        <tr>
            <th>Names Entered</th>
            <th>Date</th>
        </tr>
        {% for name in names %}
            <tr><td>{{ name.0|safe }}<td><td>{{ name.1|safe }}</td></tr>
        {% endfor %}
    </table>
</body>
</html>
